{{ form_start(form, {'attr': {'class': 'editForm', 'method': 'POST'}}) }}
	<button data-target='#newComment' data-url='{{ path("comment_edit", {'id': comment.id}) }}' class="ajaxButton btn btn-primary float-right mt-4" type="submit">{{ button_label|default('Submit') }}</button>
{{ form_end(form) }}
